<div class="jumbotron jumbotronPosition">
    <!--Google Maps Location-->
    <div ng-controller="AboutController as controller">
        <ui-gmap-google-map center='controller.center' zoom='controller.zoom'>
        </ui-gmap-google-map>
    </div>
    <hr />
    <div class="media blackFont">
        <div class="media-left">
            <img src="ngApp/images/1422410_10154613184845037_1105314198949905384_n.jpg" class="media-object"/>
        </div>
        <div class="media-body">
            <h2 class="media-heading">About Josh</h2>
            <h4>I'm a full stack ASP.NET developer in a town of Granite Falls, WA just outside of the greater Seattle area. I have a love for adventure and wanting to learn more! As a developer I have experience with HTML, CSS, JavaScript, TypeScript, AngularJS, jQuery, SQL, C#, AJAX, and ASP.NET. You can email me or contact me on LinkedIn!</h4>
        </div>
    </div>
</div>
