<div class="clearfix"></div>
<div class="footer">
    <div class="row">
        <div class="col-md-6">
            <div class="links">
                <a href="/">Home</a>
                <br />
                <a href="/projects">Projects</a>
                <br />
                <a href="/about">About</a>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact" style="filter:invert(100%);">
                <strong>Contact Me:</strong>
                <br />
                <a href="mailto:josh.schmuck@gmail.com"> josh.schmuck@gmail.com</a>
            </div>
        </div>
    </div>
    <div class="copyright" style="filter:invert(100%)">
        &copy; 2017 Joshua Schmuck | All Rights Reserved
    </div>
</div>
