<div class="jumbotron jumbotronPosition blackFont">
    <div>
        <img src="ngApp/images/WeatherShare.JPG" style="width:100%" />
        <h2>Weather Share</h2>
        <h4>Weather Share is a web application where users can share weather conditions in their current locations. The users can also see post from other users if they are hoping to find the perfect conditions. <br />This was an individual project that was required to finish school at <a href="https://www.codercamps.com/">Coder Camps</a>.</h4>
    </div>
    <hr />
    <div>
        <img src="ngApp/images/WoMoCo.JPG" style="width:100%" />
        <h2>Working Mothers Connection (WoMoCo)</h2>
        <h4>Working Mothers Connection is a web application where working moms can connect with other working moms. Moms can connect, message each other, share resources, recomendations, and get together to keep the kids busy. <br />This was a group project where I was worked with a team of 5 others at <a href="https://www.codercamps.com/">Coder Camps</a>. This project was a requirement to graduate.</h4>
        <h3>Teammates</h3>
        <div class="col-md-4 teammate">
            <a href="https://www.linkedin.com/in/chance-meyer-4a9aa1132"><img src="ngApp/images/Glyphicons/glyphicons-social-18-linked-in.png" /></a> Chance Meyer
        </div>
        <div class="col-md-4 teammate">
            <a href="https://www.linkedin.com/in/drehmke"><img src="ngApp/images/Glyphicons/glyphicons-social-18-linked-in.png" /></a> Donna Ryan (Ehmke)
        </div>
        <div class="col-md-4 teammate">
            <a href="https://www.linkedin.com/in/stephen-c-boatman-7816967"><img src="ngApp/images/Glyphicons/glyphicons-social-18-linked-in.png" /></a> Stephan C. Boatman
        </div>
        <div class="col-md-4 teammate">
             <a href="https://www.linkedin.com/in/dorothy-m-lee"><img src="ngApp/images/Glyphicons/glyphicons-social-18-linked-in.png" /></a> Dorothy Lee
        </div>
        <div class="col-md-4 teammate">
            <a href="https://www.linkedin.com/in/hiwot-demssie-27391349"><img src="ngApp/images/Glyphicons/glyphicons-social-18-linked-in.png" /></a> Hiwot Demssie
        </div>
    </div>
    <br />
    <br />
    <br />
    <hr />
    <div>
        <img src="ngApp/images/coming-soon.jpg" style="width:100%" />
        <h2>Coconut Monkey</h2>
        <h4>Coconut Monkey has many movies produced across multiple genres. This site will be where fans can watch their movies. Also a place where Coconut Monkey can upload their web series and any other future movies.</h4>
    </div>
</div>
