<div class="jumbotron jumbotronPosition blackFont">
    <div>
        <img src="ngApp/images/WeatherShare.JPG" style="width:100%" />
        <h2>Weather Share</h2>
        <h4>Weather Share is a web application where users can share weather conditions in their current locations. The users can also see post from other users if they are hoping to find the perfect conditions. <br />This was an individual project that was required to finish school at <a href="https://www.codercamps.com/">Coder Camps</a>.</h4>
    </div>
    <hr />
    <div>
        <img src="ngApp/images/WoMoCo.JPG" style="width:100%" />
        <h2>Working Mothers Connection (WoMoCo)</h2>
        <h4>Working Mothers Connection is a web application where working moms can connect with other working moms. Moms can connect, message each other, share resources, recomendations, and get together to keep the kids busy. <br />This was a group project where I was worked with a team of 5 others at <a href="https://www.codercamps.com/">Coder Camps</a>. This project was a requirement to graduate.</h4>
        <h3>Teammates</h3>
        <div class="col-md-4 teammate">
            <a href="https://www.linkedin.com/in/chance-meyer-4a9aa1132" target="_blank"><img src="http://image.flaticon.com/icons/svg/23/23737.svg" style="width:25px;" /> Chance Meyer</a>
        </div>
        <div class="col-md-4 teammate">
            <a href="https://www.linkedin.com/in/drehmke" target="_blank"><img src="http://image.flaticon.com/icons/svg/23/23737.svg" style="width:25px;" /> Donna Ryan (Ehmke)</a>
        </div>
        <div class="col-md-4 teammate">
            <a href="https://www.linkedin.com/in/stephen-c-boatman-7816967"target="_blank"><img src="http://image.flaticon.com/icons/svg/23/23737.svg" style="width:25px;" /> Stephan C. Boatman</a>
        </div>
        <div class="col-md-4 teammate">
             <a href="https://www.linkedin.com/in/dorothy-m-lee" target="_blank"><img src="http://image.flaticon.com/icons/svg/23/23737.svg" style="width:25px;" /> Dorothy Lee</a>
        </div>
        <div class="col-md-4 teammate">
            <a href="https://www.linkedin.com/in/hiwot-demssie-27391349" target="_blank"><img src="http://image.flaticon.com/icons/svg/23/23737.svg" style="width:25px;" /> Hiwot Demssie</a>
        </div>
    </div>
    <br />
    <br />
    <br />
    <hr />
    <div>
        <img src="ngApp/images/coming-soon.jpg" style="width:100%" />
        <h2>Coconut Monkey</h2>
        <h4>Coconut Monkey has many movies produced across multiple genres. This site will be where fans can watch their movies. Also a place where Coconut Monkey can upload their web series and any other future movies.</h4>
    </div>
</div>
