.footer{
    background-color: #333333;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    bottom: 0;
    width: 60%;
}

.footer .contact {
    text-align: right;
    padding-top: 20px;
}

.footer .links {
    text-align: left;
    padding-top: 13px;
}

.footer .copyright {
    text-align: center;
    padding-bottom: 7px;
}

.footerPosition {
  padding-left: 20%;
  padding-right: 20%;
}
